<a href="https://colab.research.google.com/github/pablopizutti/quest1/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  Neste teste iremos realizar algumas operações utilizando a biblioteca Pandas,  não será exigido, porém caso considere valido poderá utilisar alguma outra biblioteca para as analises, após cada bloco descritivo será sua responsabilidade escrever o código para realizar as tarefas.

Importe a biblioteca pandas com o alias de 'pd'

importe o arquivo https://raw.githubusercontent.com/pablopizutti/quest1/main/tortilla_prices.csv em uma variavel.

imprima as 8 ultimas linhas da variavel

Imprima uma lista com todas as cidades e todos os estados estudados.

Existem caracteres não regulares (\xa0) nos nomes dos estados e cidades, subistitua eles por um espaço.

Qual a cidade e estado que mais aparece nos dados?

quantas vezes eles aparecem?

Qual o preço médio o mais caro e mais barato? (desconsiderar valores invalidos, iguais a 0 ou negativos)

Qual foi o ano e estado do preço mais barato?

E do mais caro?

qual o mês mais caro para o ano de 2015 no estado de Colima?

Quantos valores invalidos aparecem nos dados?